.discussion-panel {
    background-color: #8585A4;
    max-width: inherit;
    max-height: max-content;
    padding-top: 2rem;
}

.text-start {
    text-align: center;
    align-content: center;
    padding: 0 4rem;
    margin: 0 4rem;
}

.text-white {
    padding: 0 4rem;
    text-align: center;
    max-width: -moz-available;
}

.btn {
    margin: 2rem;
}

@media screen and (max-width: 1024px) {
    .text-start {
        margin: auto;
        padding: 0;
    }
    .text-white {
        width: 800px;
        margin: 0 100px;
    }

}

@media screen and (max-width: 800px) {
    .text-white {
        width: 600px;
        margin: 0 100px;
    }
    .btn {
        padding: 8px 20px;
        margin: 10px 32px;
    }
}

@media screen and (max-width: 600px) {
    .text-white {
        width: 95%;
        margin: auto;
    }
    .form-control {
        height: 150px;
    }
    .btn {
        margin: 10px 0px;
    }
}
