.container {
    background-color: #8585A4;
    /* height: 90vh; */
    padding: 4rem 0 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1800px;
}

.text-start > h2 {
    color: #3C3C3D;
    font-size: 20px;
    max-width: 1000px;
    text-align: center;
}

.text-center {
    color: #000;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 700px;
  word-wrap: break-word;
  background-color: #747094;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  padding: 1rem;
}

.card-header {
  background-color: #fff;
  margin: -1rem;
}

.card-body {
  padding-top: 2rem;
  padding-bottom: 0;
}

.card-btn {
  margin: 10px 0;
  padding: 0 4rem;
  width: inherit;
}

.card-btn > a {
  position: relative;
  float: right;
}


@media screen and (max-width: 768px) {
  .text-start > h2 { 
    text-align: center;
    margin: 2rem;
  }

  .card {
    min-width: 0;
    max-width: 500px;
  }

  .card-btn {
    max-width: 500px;
    text-align: center;
    margin: 10px 50px;
    display: flex;
    flex-direction: column;
  }

  .card-btn > a {
    margin-top: 10px;
  }
}