.container, content {
    background-color: #8585A4;
    height: 90vh;
    padding: 4rem 0 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: inherit;
}

.text-start > h2 {
    color: #3C3C3D;
    font-size: 20px;
    max-width: 1000px;
    text-align: center;
}

.text-center {
    color: #000;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 700px;
  word-wrap: break-word;
  background-color: #747094;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  padding: 1rem;
}

.card-header {
  background-color: #fff;
  margin: -1rem;
}

.card-body {
  padding-top: 2rem;
  padding-bottom: 0;
}

.card-btn {
  margin: 10px 0;
  padding: 0 4rem;
  width: inherit;
}

.card-btn > a {
  position: relative;
  float: right;
}

.text-white {
  max-width: 800px;
}

.button {
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .text-start > h2 { 
    text-align: center;
    margin: 2rem;
  }

  .card {
    min-width: 0;
    max-width: 500px;
  }

  .card-btn {
    max-width: 500px;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .card-btn > a {
    margin-top: 10px;
  }

  .button {
    margin-top: 20px;
  }
}

@media screen and (max-width: 800px) {
  .card-btn {
    margin: 10px 20px;
    padding: 1rem 8rem;
    width: inherit;
  }

  .button {
    margin: 0.5rem;
  }

}

@media screen and (max-width: 600px) {
  .container {
    height: max-content;
  }
  .content {
    width: 90%;
    padding: 0;
    margin: auto;
  }

  .card {
    min-width: 0;
  }

  .card-btn {
    max-width: 300px;
    text-align: center;
    margin: 18px;
    padding: 0.5rem 2rem;
  }
  
  .text-white {
    width: 290px;
    padding: 0;
  }
}
