.info {
    padding: 4rem;
    background: #fff;
    margin: 0 200px 0 200px;
}

.info__header {
    text-align: center;
    font-size: 80px;
    color: #3C3C6C;
    margin-bottom: 2rem;
}

.info__text > h3 {
    color: #8585A4;
    font-size: 18px;
    line-height: 20px;
}

.paragraph {
    color: #8585A4;
    font-size: 18px;
    line-height: 20px;
    color: #000;
    text-align: center;
}


@media screen and (max-width: 960px) {
    .info__text {
        margin: 0 -100px 0 -100px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .info__text {
      margin: 0 -100px 0 -100px;
    }
  }