.info {
    padding-top: 2rem;
    padding-bottom: 4rem;
    background: #8585A4;
    max-width: inherit;

}

.info__header {
    text-align: center;
    font-size: 80px;
    color: #3C3C6C;
    margin-bottom: 2rem;
}

.info__text {
    max-width: 1024px;
    margin: auto;
}

.info__text > h3 {
    color: #ffffff;
}

.paragraph {
    margin: 2rem 0;
    color: #000;
}

.paragraph > h4, a {
    color: #3C3C6C;
}

@media screen and (max-width: 1024px) {
    .info__text {
        max-width: 800px;
        margin: 0 100px;
    }
  }
  
@media screen and (max-width: 600px) {
    .info__text {
        max-width: 80%;
        margin: auto;
    }
}
